@import "font-awesome/font-awesome";

.products {
  padding-top: 40px;
}

.product-filters {
  margin-bottom: 30px;
}

.table-header {
  color: #000;
}

.table-header:hover, .table-header:focus {
  text-decoration: none;
}

.product-name {
  text-decoration: underline;
}

.product-count {
  float: right;
}

.products {
  padding-top: 40px;
}

.product-filters {
  margin-bottom: 30px;
}

.table-header {
  color: #000;
}

.table-header:hover, .table-header:focus {
  text-decoration: none;
}

.product-name {
  text-decoration: underline;
}

.product-count {
  float: right;
}

.search-product {
  display: inline-flex;
}

#showModalWindow {
  float: right;
}

#window-product-delete {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 30%;
  left: 50%;
  width: 350px;
  height: 120px;
  border-radius: 5px;
  text-align: center;
  margin-top: -150px;
  margin-left: -150px;
  opacity: 1;
  z-index: 5;
}

#window-product-add {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  width: 620px;
  position: fixed;
  top: 50%;
  left: 40%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: 5;
}

.btnSubmit{
  background-color: #5cb85c;
}
.btnClose{
  display: flex;
  justify-content: flex-end;
}

.form-add-product {
  clear: both;
}

#overlay {
  z-index: 3;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none;
}

.form-control {
  display: inline-block;
  width: 60%;
}

.form-label {
  display: block;
}

.error {
  width: 39%;
  display: inline-block;
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  line-height: 1;
}
